<table class="table table-bordered table-hover align-middle text-center table-fixed w-100">
    <colgroup>
        <col style="width: 5%;">
        <col style="width: 25%;">
        <col style="width: 15%;">
        <col style="width: 10%;">
        <col style="width: 20%;">
        <col style="width: 25%;">
    </colgroup>
    <thead class="table-light">
            <tr>
                <th>{{ knp_pagination_sortable(links, 'ID', 'links.id') }}</th>
                <th>{{ knp_pagination_sortable(links, 'Оригінальний URL', 'links.originalUrl') }}</th>
                <th>{{ knp_pagination_sortable(links, 'Скорочене посилання', 'links.shortCode') }}</th>
                <th>{{ knp_pagination_sortable(links, 'Кліки', 'links.clicks') }}</th>
                <th>{{ knp_pagination_sortable(links, 'Створено', 'links.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(links, 'Закінчується строк дії', 'links.expiresAt') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td><a href="{{ link.originalUrl }}" target="_blank">{{ link.originalUrl }}</a></td>
                    <td>
                        <a href="{{ path('link_redirect', { code: link.shortCode }) }}" target="_blank">
                            {{ link.shortCode }}
                        </a>
                    </td>
                    <td>{{ link.clicks }}</td>
                    <td>{{ link.createdAt|date('Y-m-d H:i') }}</td>
                    <td>
                        {% if link.expiresAt %}
                            {{ link.expiresAt|date('Y-m-d H:i') }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Немає створених посилань</td>
                </tr>
            {% endfor %}
        </tbody>
</table>